@page
@model RazorMegaDesk.Pages.SurfaceMaterials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Surface Material</h1>

<p>
    <a class="btn btn-red" asp-page="Create">Create New Surface Material</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceMaterial[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceMaterial[0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SurfaceMaterial) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a class="btn btn-darkbrown" asp-page="./Edit" asp-route-id="@item.SurfaceMaterialID">Edit</a>
                <a class="btn btn-darkbrown" asp-page="./Details" asp-route-id="@item.SurfaceMaterialID">Details</a>
                <a class="btn btn-darkbrown" asp-page="./Delete" asp-route-id="@item.SurfaceMaterialID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
