@page
@model RazorMegaDesk.Pages.Desks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-darkbrown" asp-page="Create">Create New</a>
</p>
<form>
    <div class="input-group mb-3">
        <select asp-for="DeskCustomerName" asp-items="Model.CustomerNames">
            <option value="">All</option>
        </select>
        <div class="input-group-prepend">
            <span class="input-group-text">Filter by Customer Name:</span>
        </div>
        <input type="text" asp-for="SearchString" />
        <div class="input-group-append">
            <button type="submit" value="Search" class="btn btn-darkbrown"><i class="fas fa-search"></i> Filter</button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                        @Html.DisplayNameFor(model => model.Desk[0].CustomerName)
                    </a>
                </th>
               <th scope="col">
                        @Html.DisplayNameFor(model => model.Desk[0].Width)
               </th>
               <th scope="col">
                        @Html.DisplayNameFor(model => model.Desk[0].Height)
               </th>
               <th scope="col">
                        @Html.DisplayNameFor(model => model.Desk[0].SurfaceMaterial)
               </th>
               <th scope="col">
                        @Html.DisplayNameFor(model => model.Desk[0].NumberOfDrawer)
               </th>
               <th scope="col">
                        @Html.DisplayNameFor(model => model.Desk[0].ProductionTime)
               </th>
               <th scope="col">
                   <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                       @Html.DisplayNameFor(model => model.Desk[0].DateCreated)
                   </a>
               </th>
               <th scope="col">
                        @Html.DisplayNameFor(model => model.Desk[0].Amount)
               </th>
               <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Desk)
            {
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.Width)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurfaceMaterial.Material)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfDrawer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionTime.Days)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="d-flex">
                        <a class="btn btn-darkbrown" asp-page="./Edit" asp-route-id="@item.DeskID">Edit</a> &nbsp;
                        <a class="btn btn-darkbrown" asp-page="./Details" asp-route-id="@item.DeskID">Details</a> &nbsp;
                        <a class="btn btn-darkbrown" asp-page="./Delete" asp-route-id="@item.DeskID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
